html{
    background-color: rgba(28,28,34,255);
}

h1 {
    font-size: 25px;
    margin-left:2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h1::marker {
    color: red;
}

.namend{
    color:rgb(246, 246, 10) ;
    font-size: medium;
}


.header{
   
    width: 85%;
    display: flex;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    font-family:monospace;
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

a
{
    text-decoration: none;
    font-size: 20px;
    color: rgba(193, 84, 0, 0.993);
}
bodyy{
    background-color:rgba(28,28,34,255);
    font-family: monospace;
    position: absolute;
    right: 500px;
    top: 200px;
    color: white;
    text-align: left;
}
.edu{
    font-size: 100px;
    color: rgba(193, 84, 0, 0.993);
}
.content{
    font-size: 20px;
    color: #d3d3d3;
    word-spacing:normal;
}
.wall{
    color: #d3d3d3;
}
.circle {
    height: 15px;
    width: 15px;
    background-color:  rgba(204, 96, 14, 0.993);
    border-radius: 50%;
    position: absolute;
    top: 52px;
  }
